/*Định dạng chung cho web*/

* {
  box-sizing: border-box;
}

body {
  background: #1f2833;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px auto;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

#top {
  width: 100%;
}

.menu {
  max-width: 1200px;
  margin: 0 auto;
}

.banner_top {
  max-width: 1200px;
  margin: 0 auto;
}

/*Định dạng css cho menu top*/
.menu img {
  width: 36px;
  height: 36px;
  margin: 5px 5px;
}

.menu {
  width: 100%;
  display: flex;
  background: #0b0c10;
}

.icon_menu {
  display: none;
}

.menu_top {
  margin: 5px;
  width: 1140px;
}

.menu_top .users {
  float: right;
}

ul {
  margin: 0px auto;
  padding: 0px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.menu li {
  display: inline-table;
  list-style-type: none;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.menu li:hover {
  background: #66fcf1;
}

.sub_Group {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #0b0c10;
  margin-top: 4%;
  width: 150%;
  font-size: 12px;
}

.menu ul li:hover .sub_Group {
  display: grid;
}

.mb_menu {
  display: none;
}

.nav .users {
  display: block;
}

.mb_users {
  margin-top: -37px;
  margin-right: 10px;
}

.banner_top img {
  max-height: 90px;
}

/*Định dạng css cho silde ảnh top*/
.banner_top {
  width: 100%;
  overflow: hidden;
}

.tranfer {
  display: none;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  margin-top: 120px;
}

.tranfer svg {
  width: 5%;
  background: #1f2833;
  opacity: 0.3;
  border-radius: 50%;
}

.tranfer svg:hover {
  opacity: 0.8;
}

.tranfer .left {
  margin-left: 1%;
}

.tranfer .right {
  float: right;
  margin-right: 1%;
}

.slide_img {
  width: 100%;
  display: flex;
  transition: all 0.8s;
}

.banner_top img {
  width: 100%;
  max-height: 300px;
  min-width: 100%;
}

.banner_top:hover .tranfer {
  display: block;
}

.insert_slide_img {
  display: none;
  width: 100%;
  max-width: 1200px;
  position: absolute;
}

.insert_slide_img button {
  background: gray;
  float: right;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 5px;
  opacity: 0.8;
  border-radius: 5%;
  margin: 5px;
}

.insert_slide_img button svg {
  width: 20px;
}

.insert_slide_img button:hover {
  background: #1f2833;
  opacity: 1;
}

.banner_top:hover .insert_slide_img {
  display: block;
}

/* Định dạng phần layouts khi click vào ảnh */
.click_img {
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.8s;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1200px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 500px;
  max-width: 1200px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*Định dạng phần đăng ký và đăng nhập*/
/* Login */
#login .row {
  background-image: url("../img/backgrounds/bg_login.jpg");
  margin-top: 100px;
  background-size: 100%;
  border-radius: 3%;
  min-height: 570px;
  max-height: 570px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  color: #6633ff;
}

#login_form {
  margin-top: 150px;
  margin-left: 50px;
}

#login .row .heder_log{
  display: flex;
  margin-bottom: 20px;
}

#login .row .heder_log h1 {
  margin: 10px;
  color: #6633ff;
}

#login .row .heder_log img {
  width: 50px;
  height: 50px;
}

#login_form .form_group {
  margin-bottom: 20px;
  font-size: 18px;
}

#login_form label {
  font-weight: bold;
}

#login_form .form_group input {
  height: 40px;
  width: 300px;
  font-size: 18px;
  border: 2px solid #cbcbcb;
  margin-left: 10px;
  padding-left: 20px;
  outline: none;
}

#login_form .form_group input:focus {
  border-color: #6633ff;
}

#login_form #email_login {
  margin-left: 40px;
}

#login_form .group_button{
  width: 400px;
  max-width: 400px;
}

#login_form button {
  background: #6633ff;
  outline: none;
  border: none;
  width: 130px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #fff;
}

/* Register */
#register .row {
  background-image: url("../img/backgrounds/bg_reg.jpg");
  margin-top: 100px;
  background-size: 100%;
  border-radius: 3%;
  min-height: 570px;
  max-height: 570px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  color: #6633ff;
}

#form_reg {
  margin-top: 70px;
  margin-left: 70px;
}

#register .row .heder_reg{
  display: flex;
  margin-bottom: 10px;
  margin-left: 50px
}

#register .row .heder_reg h1 {
  margin: 10px;
  color: #6633ff;
}

#register .row .heder_reg img {
  width: 50px;
  height: 50px;
}

#form_reg .form_group {
  margin-bottom: 10px;
  font-size: 18px;
}

#form_reg label {
  font-weight: bold;
}

#form_reg .form_group input, #gender {
  height: 40px;
  width: 300px;
  font-size: 18px;
  border: 2px solid #cbcbcb;
  margin-left: 10px;
  padding-left: 20px;
  outline: none;
}

#form_reg .form_group input:focus {
  border-color: #6633ff;
}

#form_reg #email_login {
  margin-left: 38px;
}

#form_reg .group_button{
  width: 476px;
  max-width: 476px;
}

#form_reg button {
  background: #6633ff;
  outline: none;
  border: none;
  width: 155px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#form_reg #name{
  margin-left: 108px;
}

#form_reg #birthday{
  margin-left: 78px;
}

#form_reg #email{
  margin-left: 116px;
}

#form_reg #_class{
  margin-left: 129px;
}

#form_reg #gender{
  margin-left: 89px;
}

#form_reg #_password{
  margin-left: 92px;
}

/* them anh cho sl */

/* body even */

.row h1 {
  margin: 50px 0px;
  color: #fff;
  text-shadow: 2px 2px 5px #c5c6c7;
}

.row .col svg {
  width: 30px;
}

.even {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  margin-bottom: 150px;
}

.even img {
  max-width: 100%;
  min-width: 100%;
  max-height: 400px;
  min-height: 400px;
}

.header_even {
  background: #c5c6c7;
  padding: 10px;
  color: #0b0c10;
}

.insert_even,
.header_even button {
  background-color: #0b0c10;
  color: #66fcf1;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.insert_even:hover,
.header_even button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
}

.insert_even {
  float: right;
  margin-top: 60px;
}

.footer {
  background-color: #0b0c10;
  color: #fff;
  font-size: 12px;
}

.footer .row img {
  margin-top: 10px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

.footer .row .col {
  display: flex;
}

.footer .row .col a {
  text-decoration: none;
  color: #fff;
}

.contact {
  margin-bottom: 10px;
}

.footer p {
  margin-top: 18px;
}
