body {
	background: #1f2833;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px auto;
	color: #fff;
	font-size: 1.6em; 
}

#top {
	margin: 0px auto;
	background: #0b0c10;
	display: flex;
}

#top img {
	width: 80px;
	height: 80px;
	padding: 3px;
	margin-left: 20px;
}

.menu  {
	width: 100%;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.menu ul {
	display: flex;
	margin: 0px auto;
	padding: 0px;
}

.menu li a {
	text-decoration: none;
	color: #fff;
}

.menu li {
	list-style-type: none;
	text-transform:uppercase;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 5px;
	margin: 2px;
	border-radius: 5px;
	height: 30px;
}

.menu li:hover {
	background: #66fcf1;
}

.menu .left {
	display: flex;
}

.menu .right {
	margin-left: 18em;
}

.menu .right ul{
	padding-left: 20px;
	padding-right: 30px;
}

/*Chung cho mobible và tablet */
@media only screen and (max-width: 63.9375em){
	body {
		font-size: 14px;
	}
	
	.menu {
		margin-top: 5px;
	}
	
	.menu li {
		padding-left: 10px;
		padding-right: 10px;
		height: 20px;
	}
	
	.menu .right {
		margin-left: 10em;
	}
	
	#top img {
		width: 60px;
		height: 60px;
	}
}

/*
Mobilel: width < 740px 
@media only screen and (max-width: 46.1875em){

}

tablet: width>= 740px và nhỏ hơn 1024px
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
	
}*/