body {
	background: #1f2833;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px auto;
	color: #fff;
	font-size: 22px; 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#body {
	width: 100%;
	margin-top: 3%;
	position: relative;
}

.bg {
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1;
}

.bg img {
	width: 95%;
	border-radius:1%;
	-moz-border-radius:1%;
	-webkit-border-radius:1%;
}

/*Định dạng css cho form*/
.form {
	color: #7826f5;
	width: 30%;
	float: right;
	margin: 7% 7%;
	position: relative;
	z-index: 2;
}

.form h1{
	margin: 2%;
}

.form_group input {
	border: solid #cbcbcb;
	width: 67%;
	height: 50px;
	margin-bottom: 2%;
	outline: none;
	font-size: 22px;
	padding-left: 3%;
}

.form_group input:focus{
	border-color: #7826f5;
}

.form button {
	background: #7826f5;
	color: #fff;
	border: none;
	width: 72%;
	height: 50px;
	font-size: 22px;
}

@media only screen and (max-width: 63.9375em){
	body {
		margin: 0px auto;
		font-size: 14px;
	}
	
}