/*Chung cho mobible vÃ  tablet */
@media only screen and (max-width: 63.9375em) and (min-width: 795px){
	body {
		margin: 0px auto;
		font-size: 14px;
	}
	/*menu top*/
	.menu {
		width: 100%;
		padding-top: 5px;
	}
	
	.menu li {
		padding-left: 10px;
		padding-right: 10px;
		height: 20px;
	}
	
	.menu .sub_Group {
		margin-top: 9%;
		width: 150%;
		font-size: 10px;
	}

    .menu .sub_Group li {
        height: 15px;
    }
	
	.bg {
		margin-top: 50%;
	}
	
	#top .menu img {
		width: 5%;
		height: 5%;
	}
	
	.banner_top img {
		max-height: 200px;
	}
	
	.insert_slide_img {
		width: 15%;
		margin-top: 160px;
		margin-left: 85%;
	}
	
	.insert_slide_img button {
		font-size: 14px;
	}
	
	/*form dang nhap va dang ky*/
	.bg {
		margin-top: 10%;
	}
	
	.form {
		width: 38%;
		margin: 24% 6% 0% 0%;
	}

	#register .form_group input {
		height: 20px;
		font-size: 12px;
	}
	
	#register  .form_group #gender{
		height: 30px;
		font-size: 12px;
	}
	
	#register  .form{
		margin-right: 10%;
		margin-top: 12%;
	}

	.form button {
		height: 30px;
		font-size: 16px;
	}

	.form_group input {
		height: 25px;
		font-size: 12px;
		padding-left: 3%;
	}
	
	#login .form {
		margin: 18% 15% 0% 0%;
	}
	
	#upload_sl_img .bg img {
		width: 70%;
	}

	#upload_sl h1{
		font-size: 40px;
	}

	#upload_sl_img .form {
		margin: 40% 15% 0% 0%;
		width: 70%;
	}
	#upload_sl #file_img_sl {
		padding-top: 1%;
	}

	#upload_sl #note_img_sl{
		max-width: 66%;
		min-width: 66%;
		max-height: 350px;
		font-size: 14px;
	}
}
	
@media only screen and (max-width: 1366px) and (min-width: 1024px){
	body {
		margin: 0px auto;
		font-size: 14px;
	}
	
	.menu {
		width: 100%;
		padding-top: 5px;
	}
	
	.menu li {
		padding: 5px;
        font-size: 12px;
	}
	
	.menu .sub_Group {
		margin-top: 9%;
		width: 200%;
	}

    .menu .sub_Group li {
        height: 15px;
    }
	
	.banner_top img {
		max-height: 210px;
	}
	
	.insert_slide_img {
		width: 10%;
		margin-top: 180px;
	}
	
	.insert_slide_img button {
		font-size: 14px;
	}
	
	/*form dang nhap va dang ky*/
	.form_group input {
		height: 25px;
		font-size: 12px;
		padding-left: 3%;
	}
	
	#register .form_group input {
		height: 25px;
		font-size: 12px;
	}
	
	#register  .form_group #gender{
		height: 30px;
		font-size: 12px;
	}
	
	#register  .form{
		margin-right: 15%;
		margin-top: 2%;
	}

	.form button {
		height: 30px;
		font-size: 16px;
	}

	.form h1 {
		font-size: 25px;
	}
	
	#upload_sl_img .bg img {
		width: 70%;
	}

	#upload_sl h1{
		font-size: 40px;
	}

	#upload_sl_img .form {
		margin: 20% 15% 0% 0%;
		width: 70%;
	}
	#upload_sl #file_img_sl {
		padding-top: 1%;
	}

	#upload_sl #note_img_sl{
		max-width: 66%;
		min-width: 66%;
		max-height: 350px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 795px){
    body {
		margin: 0px auto;
		font-size: 12px;
	}

    .menu img {
        width: 15px;
        height: 15px;
        margin: 7px 7px;
    }

    .menu_top {
        margin: 0px;
		margin-top: 5px;
    }

	.nav li{
		font-size: 9px;
        height: 9px;
		padding: 2px 5px;
		border-radius: 2px;
    }

	.sub_Group {
		width: 200%;
    }

	.banner_top img {
		max-height: 160px;
	}

	/*form dang nhap va dang ky*/
	.bg {
		margin-top: 20%;
	}

	#login .form {
		margin-top: 30%;
	}

	.form_group input {
		height: 15px;
		font-size: 10px;
		padding-left: 3%;
	}
	
	#register .form_group input {
		width: 150px;
		height: 10px;
		font-size: 8px;
	}
	
	#register  .form_group #gender{
		width: 163px;
		height: 18px;
		font-size: 8px;
	}
	
	#register  .form{
		margin-top: 23%;
	}

	#register  .form button{
		width: 160px;
	}

	.form button {
		height: 22px;
		font-size: 12px;
	}

	.form h1 {
		font-size: 12px;
	}

	.insert_slide_img {
		width: 15%;
		margin-top: 130px;
		margin-left: 85%;
	}
	
	.insert_slide_img button {
		font-size: 12px;
	}
	
	#upload_sl_img .bg img {
		width: 70%;
	}

	#upload_sl h1{
		font-size: 40px;
	}

	#upload_sl_img .form {
		margin: 20% 15% 0% 0%;
		width: 70%;
	}
	#upload_sl #file_img_sl {
		padding-top: 1%;
	}

	#upload_sl #note_img_sl{
		max-width: 66%;
		min-width: 66%;
		max-height: 350px;
		font-size: 14px;
	}

}